@media all {
  #apply{
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .success{
    color:green;
    font-weight: bold;
    font-size: 2em;
  }
  .error{
      color:red;
      font-weight: bold;
      font-size: 1.5em;
  }
  #tourdateform{
    margin: auto;
    width:700px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F3E9CE;
    text-align: center;
  }
  #artistform{
    margin: auto;
    width:700px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #A7E163;
    text-align: center;
  }
  #announcementform{
    margin: auto;
    width:700px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #74D2E7;
    text-align: center;
  }
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  input[type=datetime-local], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  button {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    background-color: lightblue;
    /* border: 1px solid #ccc; */
    color: white;
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  #tourdateform{
    margin: auto;
    width:280px;
  }
  #artistform{
    margin: auto;
    width:280px;
  }
  #announcementform{
    margin: auto;
    width:280px;
  }
  .col-25, .col-75, button {
    width: 100%;
    margin-top: 1em;
  }
  #apply{
    font-size:1.75em;
  }
  div.tab {
      width:280px;
  }
}
