@media all{
  #contentwrapper {
    text-align: center;
  }
  #title{
    font-size:4em;
    font-weight:bolder;
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
  }
  .container{
    width:400px;
    display:inline-block;
    text-align: center;
  }
  .artistimage{
    display: inline-block;
    width: 100%;
  }
  .artistname{
    font-size: 2em;
    color: white;
    font-weight:bold;
    text-align:center;
    transform: translate(0%, -400%);
    -ms-transform: translate(0%, -400%);
  };

}
@media (max-width:1300px) {
    .artistname{
      /* display: none; */
      font-size: 1.75em;
      color: white;
      font-weight:bold;
      text-align:center;
      transform: translate(0%, -300%);
      -ms-transform: translate(0%, -300%);
    }
    .container{
      width:300px;
      display:inline-block;
      text-align: center;
    }
}
@media (max-width:700px) {
  .container{
    width:90%;
  }
  .artistname{
    font-size: 2em;
    transform: translate(0%, -400%);
    -ms-transform: translate(0%, -400%);
  }
}
@media (max-width:500px) {
  #title{
    font-size:3em;
  }
  .artistname{
    font-size: 1.75em;
    transform: translate(0%, -400%);
    -ms-transform: translate(0%, -400%);
  }
}
