<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Biker Gang Admin</title>
    {% load static %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bikeradmin/css/style.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'bikeradmin/css/dashboard.css' %}" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Molle:400i|Pacifico|Satisfy" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'bikeradmin/images/icons/favicon-bg-(1).ico' %}">
  </head>
  <body>
    <div style="max-width:100%;height:auto;padding:.5em;background-color:#2D2D2D">
      <div id="welcomeHeader" style="display:flex; justify-content:space-between;">
        <span style="color:white; font-size:1.25em; font-weight:bold;margin:0.25em;">Welcome, {{request.session.username}}!</span>
        <span style="font-size:1.25em;font-weight:bold; margin:0.25em;"><a style="color:white;text-decoration:none;" href="/logout">Logout</a></span>
      </div>
      <h1 style="color:white; margin:0.25em; font-family: 'Molle', cursive; color:#E54D4D;">Bikergang Admin Dashboard</h1>
      <div id="menulinks">
        <span style="font-size:1.25em;font-weight:bold; margin:0.25em; padding-right:.75em; border-right:2px solid white;"><a style="color:white;text-decoration:none;" href="/dashboard">Dashboard</a></span>
        <span style="font-size:1.25em;font-weight:bold; margin:0.25em; padding-right:.75em; border-right:2px solid white;"><a style="color:white;text-decoration:none;" href="/artistmanager">Artist Manager</a></span>
        <span style="font-size:1.25em;font-weight:bold; margin:0.25em; padding-right:.75em; border-right:2px solid white;"><a style="color:white;text-decoration:none;" href="/tourmanager">Tour Manager</a></span>
        <span style="font-size:1.25em;font-weight:bold; margin:0.25em; padding-right:.75em; border-right:2px solid white;"><a style="color:white;text-decoration:none;" href="/newsmanager">News Manager</a></span>
        <span style="font-size:1.25em;font-weight:bold; margin:0.25em; padding-right:.75em; border-right:2px solid white;"><a style="color:white;text-decoration:none;" href="/hofmanager">HoF Manager</a></span>
        <span style="font-size:1.25em;font-weight:bold; margin:0.25em; padding-right:.75em;"><a style="color:white;text-decoration:none;" href="/appmanager">App Manager</a></span>
      </div>
    </div>
    {% for message in messages %}
          <p class="{{ message.tags }}">{{ message.message }}</p>
    {% endfor %}

    <form id="newsselectform" class="selectform" action="" method="POST">
      {% csrf_token %}
      <h2>Select Announcement:</h2>
      <select id="news">
      <option></option>
      {% for n in news %}
      <option value="{{n.id}}" name="newsid">{{n.newsheadline}}</option>
      {% endfor %}
      </select>
      <button type="submit" value="submit">Select</button>
    </form>

    <div class="tab"  style="margin-top:1em;">
      <button class="tablinks" onclick="openEventName(event, 'announcementform')" id="defaultOpen">Edit Announcement</button>
      <button class="tablinks" onclick="openEventName(event, 'deleteform')" >Delete Announcement</button>
    </div>
    {% if thenews %}
    <form id="announcementform" class="tabcontent" action="/editnews/{{thenews.id}}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}

      <h2>Edit News Announcement:</h2>

      <div class="row">
        <div class="col-25">
          <label for="newsheadline"> News Headline: </label>
        </div>
        <div class="col-75">
          <input type="text" id="newsheadline" name="newsheadline" placeholder="i.e. 'New Tour Dates for *insert band name here*' or 'New Video Drop for our *band name*' etc." value="{{thenews.newsheadline}}">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="newsstory"> News Story: </label>
        </div>
        <div class="col-75">
          <textarea id="newsstory" name="newsstory" placeholder="enter details of the news your announcing">{{thenews.newsstory}}</textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="newsimg"> News Image: </label>
        </div>
        <div class="col-75">
          <input type="file" id="newsimg" name="newsimg">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="newsimgcred"> Image Credit: </label>
        </div>
        <div class="col-75">
          <input type="text" id="newsimgcred" name="newsimgcred" placeholder="i.e.: 'Image Courtesy of AP'" value="{{thenews.newsimgcred}}">
        </div>
      </div>

      <button>Post</button>
    </form>

    <form id="deleteform" class="tabcontent" action="/deleteannouncement/{{thenews.id}}" method="POST">
      {% csrf_token %}
      <h2>Delete Announcement:</h2>
      <h3>Are you sure you want to delete this announcment?  Deleting it will erase the announcement from the database?</h3>

      <button>Delete</button>
    </form>
    {% endif %}
  </body>
  <script type="text/javascript" src="{% static 'bikeradmin/javascript/newsman.js' %}"></script>
</html>
