<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Announcements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bikeradmin/css/bikertheme.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'bikeradmin/css/news.css' %}" media="screen" title="no title" charset="utf-8">
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Molle:400i|Pacifico|Satisfy" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bikeradmin/javascript/bikertheme.js' %}"></script>
    <link rel="icon" href="{% static 'bikeradmin/images/icons/favicon-256.png' %}">
  </head>
  <body>
    <div id="mobilebar">
      <img id= "menuicon" src="{% static 'bikeradmin/images/icons/menu.png'%}">
      <a href="/"><img id="bikerlogo" src="{% static 'bikeradmin/images/icons/BikerGang_Black.png' %}"></a>
      <div id="filler"></div>
    </div>
    <div id="menubar">
      <div>
        <span class="menuspan"><a class="navlinks" href="/about" >About</a></span>
        <span class="menuspan"><a class="navlinks" href="/roster">Artists</a></span>
        <span class="menuspan"><a class="navlinks" href="/tourdates">Shows</a></span>
        <span class="menuspan"><a class="navlinks" href="/HoF">Hall of Fame</a></span>
        <span class="menuspan"><a class="navlinks" href="/apply">Apply</a></span>
        <span class="menuspan"><a class="navlinks" href="/news">News</a></span>
        <span class="menuspan"><a class="navlinks" href="/contact">Contact Us</a></span>
      </div>
    </div>
    <div id="contentwrapper">
      <div id="extraextra">
        <!-- <span>!! </span>
        <span style="font-style:italic;">NEWS</span>
        <span>! NEWS !</span>
        <span style="font-style:italic;">NEWS</span>
        <span>! NEWS !</span>
        <span style="font-style:italic;">NEWS</span>
        <span>!!</span> -->
        <span style="font-style:italic;">Extra, Extra! Read All About It!</span>
      </div>
      <div class="newsStory">
        <div class="newsHeadline">Japanese Breakfast Had a Great 2017!</div>
        <div class="newsDate">January 1st, 2018.</div>
        <div class="newsContent">
          <div>
            Michelle Zuaner is the mastermind of Japanese Breakfast.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in mi lorem. Fusce tristique ipsum eget bibendum vulputate. Sed et quam accumsan, tempor odio quis, scelerisque tellus. Vestibulum eu enim quis neque tristique finibus in eu ante. Aliquam imperdiet lacinia magna, eget vehicula mauris. Integer non nibh pretium, mollis mauris ac, convallis enim. Pellentesque varius malesuada mi vel efficitur. Proin nisl diam, placerat nec eros eu, eleifend finibus mi. Etiam at risus sed risus tincidunt aliquam eu eu dolor. Vivamus rutrum blandit porta. Phasellus vitae sem suscipit magna eleifend hendrerit. Nulla id laoreet est. Donec sagittis tempor justo eu tempor. Aliquam pulvinar quis mi id consequat.
            Sed a enim ligula. Vivamus pellentesque faucibus sollicitudin.
          </div>
        </div>
        <div class="imageDiv">
          <img src="{% static 'bikeradmin/images/demos/jbrekkie.jpg' %}" class="newsImage">
          <div style="font-style:italic; text-align:center;">Japanese Breakfast Image Courtesy AP </div>
      </div>
    </div>
    <div class="newsStory">
      <div class="newsHeadline">Japanese Breakfast Had a Great 2017!</div>
      <div class="newsDate">January 1st, 2018.</div>
      <div class="newsContent">
        <div>
          Michelle Zuaner is the mastermind of Japanese Breakfast.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in mi lorem. Fusce tristique ipsum eget bibendum vulputate. Sed et quam accumsan, tempor odio quis, scelerisque tellus. Vestibulum eu enim quis neque tristique finibus in eu ante. Aliquam imperdiet lacinia magna, eget vehicula mauris. Integer non nibh pretium, mollis mauris ac, convallis enim. Pellentesque varius malesuada mi vel efficitur. Proin nisl diam, placerat nec eros eu, eleifend finibus mi. Etiam at risus sed risus tincidunt aliquam eu eu dolor. Vivamus rutrum blandit porta. Phasellus vitae sem suscipit magna eleifend hendrerit. Nulla id laoreet est. Donec sagittis tempor justo eu tempor. Aliquam pulvinar quis mi id consequat.
          Sed a enim ligula. Vivamus pellentesque faucibus sollicitudin.
        </div>
      </div>
      <div class="imageDiv">
        <img src="{% static 'bikeradmin/images/demos/jbrekkie.jpg' %}" class="newsImage">
        <div style="font-style:italic; text-align:center;">Japanese Breakfast Image Courtesy AP </div>
      </div>
    </div>
    <div class="newsStory">
      <div class="newsHeadline">Japanese Breakfast Had a Great 2017!</div>
      <div class="newsDate">January 1st, 2018.</div>
      <div class="newsContent">
        <div>
          Michelle Zuaner is the mastermind of Japanese Breakfast.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in mi lorem. Fusce tristique ipsum eget bibendum vulputate. Sed et quam accumsan, tempor odio quis, scelerisque tellus. Vestibulum eu enim quis neque tristique finibus in eu ante. Aliquam imperdiet lacinia magna, eget vehicula mauris. Integer non nibh pretium, mollis mauris ac, convallis enim. Pellentesque varius malesuada mi vel efficitur. Proin nisl diam, placerat nec eros eu, eleifend finibus mi. Etiam at risus sed risus tincidunt aliquam eu eu dolor. Vivamus rutrum blandit porta. Phasellus vitae sem suscipit magna eleifend hendrerit. Nulla id laoreet est. Donec sagittis tempor justo eu tempor. Aliquam pulvinar quis mi id consequat.
          Sed a enim ligula. Vivamus pellentesque faucibus sollicitudin.
        </div>
      </div>
      <div class="imageDiv">
        <img src="{% static 'bikeradmin/images/demos/jbrekkie.jpg' %}" class="newsImage">
        <div style="font-style:italic; text-align:center;">Japanese Breakfast Image Courtesy AP </div>
      </div>
    </div>
    <div style="text-align:center; margin-top:1em;"> Next | Prev </div>
    <div id="footer" style="width:100%; height:100px;"></div>
  </div>
  </body>
</html>
